
.boards-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 48px;
  margin-top: 4px;
}

.board-row {
  display: flex;
  flex-wrap: nowrap;
}

.board-column {
  flex-basis: 20%;
  min-width: 20%;
  padding: 8px;
  box-sizing: border-box;
}
