

.board-item {
  flex-basis: 20%;
  min-height: 231px;
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.board-image-holder {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.board-image-holder img {
  display: block;
  max-width: 157px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.first-image {
  width: 157px;
  height: 157px;
  background-color: rgb(238, 238, 238);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-right: 2px;
  overflow: hidden;
}

.second-image-holder {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.secondary-image {
  width: 77px;
  height: 77.5px;
  background-color: rgb(238, 238, 238);
  border-top-right-radius: 16px;
  margin-bottom: 2px;
  overflow: hidden;
}

.secondary-image img {
  display: block;
  min-width: 77px;
  object-fit: cover;
  border-radius: 0 16px 0 0;
}

.third-image {
  width: 77px;
  height: 77.5px;
  background-color: rgb(238, 238, 238);
  border-bottom-right-radius: 16px;
  overflow: hidden;
}

.third-image img {
  display: block;
  min-width: 77px;
  object-fit: cover;
  border-radius: 0 0 16px 0;
}



.first-placeholder {
  width: calc(33.333% - 8px);
  height: 0;
  padding-bottom: 33.333%;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  /* background-color: #808080;  */
}

.second-placeholder {
  width: 77px;
  height: 77.5px;
  background-color: rgb(238, 238, 238);
  border-top-right-radius: 16px;
  margin-bottom: 2px;
  overflow: hidden;
}

.third-placeholder {
  width: 77px;
  height: 77.5px;
  background-color: rgb(238, 238, 238);
  border-bottom-right-radius: 16px;
  overflow: hidden;
}


.board-info {
  margin: 8px;
  text-decoration: none;
}

.board-name {
  font-size: 20px;
  font-weight: 600;
  color: #111
}

.board-pin-count {
  padding-top: 2px;
  font-size: 12px;
  font-weight: 400;
  color: #111

}

@media (max-width: 1200px) {
  .board-item {
    flex-basis: 25%;
  }
}

@media (max-width: 992px) {
  .board-item {
    flex-basis: 33.333%;
  }
}

@media (max-width: 768px) {
  .board-item {
    flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  .board-item {
    flex-basis: 100%;
  }
}
