.boards-index {
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 48px;
  margin-top: 4px;
  margin-left: 0;
  margin-right: 0;
}

.board-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  height: 100%;
  overflow: hidden;
  width: 252px; /* Set max width */
} 

.board-preview {
  display: flex;
  height: 100%;
  margin-bottom: 8px;
}

.pin-preview {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
}

.pin-preview:first-child {
  flex-basis: 66.66%;
  margin-right: 8px;
}

.pin-preview:nth-child(2),
.pin-preview:nth-child(3) {
  margin-top: 8px;
}

.pin-preview img {
  width: 100%;
   height: 150px; 
  object-fit: cover;
  border-radius: 4px; 
}

.pin-placeholder {
  width: calc(33.333% - 8px);
  height: 0;
  padding-bottom: 33.333%;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #eee;
  border-radius: 4px;
}

.board-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.board-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.board-pin-count {
  font-size: 14px;
  color: #777;
}

.board-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.board-row:nth-child(n + 2) {
  margin-top: 16px;
} 


