.edit-profile-form {
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    /* max-width: 488px; */
    width: 100%; 
    margin-top: 12px;
    align-items: center;
    padding-top: 80px;
}
