/* TODO Add site wide styles */

body {
    font-family: "Roboto";
    /* font-family: "Montserrat"; */
    color: #111111
  }


  /* @font-face {
    font-family: "Segoe-UI";
    src: url("../public/assets/Segoe\ UI.ttf");
  }

  @font-face {
    font-family: "Segoe-UI-Bold-Italic";
    src: url("../public/assets/Segoe\ UI\ Bold\ Italic.ttf");
  }

  @font-face {
    font-family: "Segoe-UI-Bold";
    src: url("../public/assets/Segoe\ UI\ Bold.ttf");
  }

  @font-face {
    font-family: "Segoe-UI-Italic";
    src: url("../public/assets/Segoe\ UI\ Italic.ttf")
  }

  @font-face {
    font-family: "Helvetica-Neue";
    src: url("../public/assets/Helvetica\ Neue\ Regular.otf");
  } */