#board-show-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.board-show-header {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 588px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 16px;
}

.board-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  box-sizing: border-box;
  margin-bottom: -16px;
}



.board-description {
  text-align: center;
  margin-top: 16px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
}



.board-pin {
    display: inline-flex;
    padding : 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 236px;
}

.board-pin-image {
    display: flex;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    opacity: 1;
}

.board-pins-count {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}

.board-pins-count-holder {
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  align-items: center;
  display: flex;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: space-between;
}


#board-pins-holder {
  height: 100%;
  margin: 0 auto;
  column-gap: 10px;
  background-color: white;
}

@media (min-width: 0px) and (max-width: 755px) {
  #board-pins-holder {
    width: 504px;
    column-count: 2;
  }
}

@media (min-width: 756px) and (max-width: 1000px) {
  #board-pins-holder {
    width: 744px;
    column-count: 3;
  }
}

@media (min-width: 1001px) and (max-width: 1245px) {
  #board-pins-holder {
    width: 984px;
    column-count: 4;
  }
}

@media (min-width: 1246px) {
  #board-pins-holder {
    width: 1224px;
    column-count: 5;
  }
}

.ellipsis-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.board-show-dropdown-menu{
  border: 1px solid;
  border-radius: 16px;
  display: flex;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  /* top: 36px; */
  margin-right: 8px;
  margin-left: 8px;
  flex: 1 1 auto;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 8px;
  flex-direction: column;
  color: #fff;
  background-color: white;
  

  max-width: 20vh;
  max-height: 90vh;
  min-height: 40px;
  min-width: 180px;
  position: absolute;
  right: 0;
  top: 100%;
}

.board-show-dropdown-option{
  border-radius: 8px;
  width:100%;
  cursor: pointer;
  box-sizing: border-box;
  padding: 8px 8px 8px 8px;
  flex-direction: column;
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
display: block;
align-items: center;
flex-direction: row;
text-align: left;
font-weight: 600;
font-size: 16px;
color: #111;
padding-left: 12px;


}

.board-show-dropdown-option:hover{
  background-color: rgba(0,0,0,0.06);
}

