#board-show-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.board-show-header {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 588px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 16px;
}

.board-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  box-sizing: border-box;
  margin-bottom: -16px;
}



.board-description {
  text-align: center;
  margin-top: 16px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
}



.board-pin {
    display: inline-flex;
    padding : 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 236px;
}

.board-pin-image {
    display: flex;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    opacity: 1;
}

.board-pins-count {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}

.board-pins-count-holder {
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  align-items: flex-start;
  display: flex;
  width: 100%;
  justify-content: flex-start; 
  margin-top: 24px;
  margin-bottom: 24px;
}


#board-pins-holder {
  height: 100%;
  margin: 0 auto;
  column-gap: 10px;
  background-color: white;
}

@media (min-width: 0px) and (max-width: 755px) {
  #board-pins-holder {
    width: 504px;
    column-count: 2;
  }
}

@media (min-width: 756px) and (max-width: 1000px) {
  #board-pins-holder {
    width: 744px;
    column-count: 3;
  }
}

@media (min-width: 1001px) and (max-width: 1245px) {
  #board-pins-holder {
    width: 984px;
    column-count: 4;
  }
}

@media (min-width: 1246px) {
  #board-pins-holder {
    width: 1224px;
    column-count: 5;
  }
}