/* pinshomepage is same as searchresultpage 
searchresults holder is pins holder
pin indexitem is search result 
search result imge ispin index item image */


#search-result-page {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#search-results-holder {
  height: 100%;
  margin: 0 auto;
  column-gap: 10px;
  background-color: white;
  columns: 5;
}

@media (min-width: 0px) and (max-width: 755px) {
  #search-results-holder {
    width: 504px;
    column-count: 2;
  }
}

  .search-result {
    display: inline-flex;
    padding : 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 236px;
  }
  
  .search-result-image {
    display: flex;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    opacity: 1;
  }
  
 