
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    height: 80px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    font-weight: 600;
    font-size: 16px;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 32px; 
    height: 32px; 
  }

  .brand-name {
    text-align: left;
    color: #CC0000;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 4px;
    box-sizing: border-box;
    margin-top: 0;
    letter-spacing: -1px;
  }

  .brand-name:link {
    text-decoration: none;
  }

  .brand-name:visited {
    text-decoration: none;
  }

  .brand-name:hover {
    text-decoration: none;
  }

  .brand-name:active {
    text-decoration: none;
  }

  
  