.social-links-container {
    display: flex;
    align-items: center;
}

.linkedin-button {
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    background-color: #efefef;
}

.linkedin-button:hover {
    background-color: #e2e2e2;
}


.github-button {
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    background-color: #efefef;
}

.github-button:hover {
    background-color: #e2e2e2;
}



    /* <i class="fa-brands fa-github"></i> */
        /* <i class="fa-brands fa-linkedin"></i> */

        .nav_profile_container {
            height: 48px;
            width: 48px;
            justify-content: center;
            align-items: center;
            display: flex;
            background-color: transparent;
            perspective: 1px;
            cursor: pointer;
            border-radius: 50px;
            box-sizing: border-box;
            flex-direction: row;
          }
          
          .nav_profile_container:hover {
            background-color: rgba(0,0,0,0.06);
          }
          
          .nav_profile{
            font-size: 12px;
            background-color: rgba(0,0,0,0.06);
            width: 24px;
            height: 24px;
            color: #211922;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            position: relative; 
            font-weight: 600;
            text-anchor: middle;
            box-sizing: border-box;
            flex-direction: row;
            /* background: #e9e9e9; */
          }