.sl-button-container-li {
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: transparent;
    perspective: 1px;
    cursor: pointer;
    border-radius: 50px;
    box-sizing: border-box;
    flex-direction: row;
}

.sl-button-container-li:hover{
    background-color: #efefef;

}

.sl-button-circle-li{
    font-size: 12px;
    background-color: #efefef;
    width: 24px;
    height: 24px;
    color: #211922;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    text-anchor: middle;
    box-sizing: border-box;
    flex-direction: row;
}

.sl-button-circle-li:hover{
    background-color: transparent;
    border: none;
}

.sl-button-li {
    font-size: 12px;
    width: 24px;
    height: 24px;
    color: #211922;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    text-anchor: middle;
    box-sizing: border-box;
    flex-direction: row;
}


.social-links-container {
    display: flex;
    align-items: center;
}


.sl-button-circle-lo{
    font-size: 12px;
    background-color: #efefef;
    width:40px;
    height: 40px;
    color: #211922;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    text-anchor: middle;
    box-sizing: border-box;
    flex-direction: row;
    margin-right: 8px;
}

.sl-button-circle-lo:hover{
    background-color: #e2e2e2;
}

.sl-button-circle-li:hover{
    background-color: #efefef;
}

.sl-button-lo {
    color: #111;
}