.login-button {
  background-color: #e60023;
  color: white;
  margin-right: 8px;
  display: inline-block;
  border: 0;
  min-width: 60px;
}

.login-button:hover{
  background-color: #ad081b;
}

.demo-button {
  border: 0px;
  height: 40px;
  display: inline-block;
  border-radius: 20px;
  -webkit-font-smoothing: antialiased;
  padding: 0px 18px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 8px;
  vertical-align: middle;
  text-align: center;
  background-color: #ddd;
  /* color: rgb(255, 255, 255); */
  
  width: 268px;
}

.demo-button:hover{
  background-color: #d0d0d0;
}